body {
    background: #232323;
}

button {
    padding: 5px 10px 5px 10px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 50px;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
}
